# Peer Graded Assignment

## Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [6]:
import yfinance as yf
import pandas as pd

tesla_stock = yf.Ticker("TSLA")
tesla_stock_data = tesla_stock.history(period="max")
tesla_stock_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [7]:
import requests
from bs4 import BeautifulSoup

tesla_url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
tesla_html = requests.get(tesla_url).text
tesla_soup = BeautifulSoup(tesla_html, 'html.parser')
tesla_revenue_table = tesla_soup.find_all('table')[1]
tesla_revenue_data = pd.read_html(str(tesla_revenue_table))[0]

tesla_revenue_data.head()

,Tesla Quarterly Revenue(Millions of US $),Tesla Quarterly Revenue(Millions of US $).1
0,2022-12-31,"$24,318"
1,2022-09-30,"$21,454"
2,2022-06-30,"$16,934"
3,2022-03-31,"$18,756"
4,2021-12-31,"$17,719"

## Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [10]:
gamestop_stock = yf.Ticker("GME")
gamestop_stock_data = gamestop_stock.history(period="max")
gamestop_stock_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points

In [11]:
gamestop_url = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'
gamestop_html = requests.get(gamestop_url).text
gamestop_soup = BeautifulSoup(gamestop_html, 'html.parser')
gamestop_revenue_table = gamestop_soup.find_all('table')[1]
gamestop_revenue_data = pd.read_html(str(gamestop_revenue_table))[0]

gamestop_revenue_data.head()

,GameStop Quarterly Revenue(Millions of US $),GameStop Quarterly Revenue(Millions of US $).1
0,2023-01-31,"$2,226"
1,2022-10-31,"$1,186"
2,2022-07-31,"$1,136"
3,2022-04-30,"$1,378"
4,2022-01-31,"$2,254"

In [ ]:
tesla_dashboard = pd.concat([tesla_stock_data['Close'], tesla_revenue_data['Tesla Quarterly Revenue(Millions of US $).1']], axis=1)
tesla_dashboard.columns = ['Stock Price', 'Revenue']
tesla_dashboard.plot(title='Tesla Stock Price vs Revenue')

TypeError: Cannot join tz-naive with tz-aware DatetimeIndex